@import '../variables';

.track {
  display: inline-block;
  width: 100%;
  height: $track_thickness;
}

@import '__path/track__path';
@import '__filler/track__filler';
@import '_vertical/track_vertical';
