@import '../../variables';

.hint__content_left:after {
  left: 100%;
  top: 50%;
  border: {
    top-color: transparent;
    left-color: deepskyblue;
  }
  transform: translate(-$hint_indent - .1em, -50%); // .1em to prevent gap
}
