@import 'variables';

.circle {
  position: relative;
  width: $circle_diameter;
  height: $circle_diameter;
  border-radius: 50%;
  background: mediumspringgreen;
}

@import './__hint/circle__hint';
