@import '../variables';

.circle__hint {
  position: absolute;
  left: $circle_diameter / 2;
  bottom: $circle_diameter;
  transform: translate(-50%);
}

@import './_left/circle__hint_left';
@import '_hidden/circle__hint_hidden';
