@import 'variables';

.range-slider {
  box-sizing: border-box;
  position: relative;
  line-height: 0;
  padding: $range-slider_padding;
}

@import '__thumb/range-slider__thumb';
@import '_vertical/range-slider_vertical';
