@import 'variables';

.line {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: $line_thickness;
  background: red;
}

@import '_rounded/line_rounded';
@import '_vertical/line_vertical';
