@import 'variables';

.line {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: $line_thickness;
  background: #ff4ca6;
}

@import '_rounded/line_rounded';
@import '_vertical/line_vertical';
@import '_color/line_color';
