@import 'variables';

.line {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: $line_thickness;
  border-radius: $line_thickness / 2;
  background: red;
}

@import '_trimmed/line_trimmed';
@import '_vertical/line_vertical';
