$thumbDiameter: 40px;
$trackThickness: 40px;

.main {
  width: 600px;
  height: 600px;
  margin: 40px;
  background: #b2eeb0;
}

.rangeSliderContainer {
  box-sizing: border-box !important;
  padding: ($thumbDiameter - $trackThickness) / 2;
  position: relative;

  background: pink;
  .track {
    border-radius: $trackThickness;
    position: relative;

    background: darkslateblue;

    &:after {
      content: '';
      display: block;
      width: $trackThickness;
      height: $trackThickness;
      position: absolute;
      z-index: 0;

      background: blue;
    }
  }

  .thumb {
    border-radius: 50%;
    width: $thumbDiameter;
    height: $thumbDiameter;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    transition: left .1s, top .1s;

    background: rgba(0, 200, 0, 0.5);
  }

  .range-inner {
    transition: width .1s, height .1s;

    background: darkorange;
  }

  .range-outer {
    position: relative;
    transition: width .1s, height .1s;
    z-index: 1;

    background: yellow;
  }

  &.horizontal {
    padding-right: ($thumbDiameter + $trackThickness) / 2;

    .track {
      height: $trackThickness;
      border: {
        top-right-radius: 0;
        bottom-right-radius: 0;
      }

      &:after {
        top: 0;
        right: -$trackThickness;
        border: {
          top-right-radius: $trackThickness;
          bottom-right-radius: $trackThickness;
        }
      }
    }

    .range-inner,
    .range-outer {
      height: 100%;
      border-bottom-left-radius: $trackThickness;
      border-top-left-radius: $trackThickness;
    }
  }

  &.vertical {
    padding-bottom: ($thumbDiameter + $trackThickness) / 2;

    .track {
      height: 100%;
      width: $trackThickness;
      border: {
        bottom-right-radius: 0;
        bottom-left-radius: 0;
      }

      &:after {
        bottom: -$trackThickness;
        border: {
          bottom-right-radius: $trackThickness;
          bottom-left-radius: $trackThickness;
        }
      }
    }

    .range-inner,
    .range-outer {
      border-top-right-radius: $trackThickness;
      border-top-left-radius: $trackThickness;
    }
  }
}
