<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>

    <% if (htmlWebpackPlugin.files.favicon) { %>
    <link rel="shortcut icon" href="<%= htmlWebpackPlugin.files.favicon%>">
    <% } %>
    <% if (htmlWebpackPlugin.options.mobile) { %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% } %>
</head>
<body>
    <% [
    'lightgoldenrodyellow',
    'whitesmoke',
    'lightyellow',
    'lightpink'
    ].forEach((color) => { %>
    <div class="range-slider-preview range-slider-preview_<%- color %>">
        <div class="range-slider-container-wrapper">
            <div class="range-slider-container"></div>
        </div>
        <div class="range-slider-controller">
            <form>
                <%
                    [
                        ['min', 'number'],
                        ['max', 'number'],
                        ['step', 'number'],
                        ['value', 'number'],
                        ['range-value1', 'number'],
                        ['range-value2', 'number'],
                        ['hint', 'checkbox'],
                        ['range', 'checkbox']
                    ].forEach(([label, type]) => {
                %>
                <div class="input-container range-slider-controller__input-container">
                    <label class="input-container__label"><%- label %>
                        <input type="<%- type %>" name="<%- label %>" class="input-container__input"/>
                    </label>
                </div>
                <% }); %>
                <div class="input-container range-slider-controller__input-container">
                    <span class="input-container__label">orientation</span>
                    <label class="input-container__input">
                        <input type="radio" name="orientation" value="h">
                        horizontal
                    </label>
                    <label class="input-container__input">
                        <input type="radio" name="orientation" value="v">
                        vertical
                    </label>
                </div>
                <%
                    [
                        ['element-width', 'number'],
                        ['element-height', 'number']
                    ].forEach(([label, type]) => {
                %>
                <div class="input-container range-slider-controller__input-container">
                    <label class="input-container__label"><%- label %>
                        <input type="<%- type %>" name="<%- label %>" class="input-container__input"/>
                    </label>
                </div>
                <% }); %>
            </form>
        </div>
    </div>
    <% }); %>
</body>
</html>
