$testSliderContainerSelector: 'test-slider-container';

.#{$testSliderContainerSelector} {
  width: 500px;
  height: 500px;
  padding: 50px;
  margin: auto;
}

@each $color in (
        lightgoldenrodyellow
        lightgreen
        lightyellow
        lightpink
) {
  .#{$testSliderContainerSelector}_#{$color} {
    background: $color;
  }
}
