$rs-container_content-width: 300px;
$rs-container_border-width: 4px;
$rs-container_width: $rs-container_content-width + 2 * $rs-container_border-width;
$rs-controller_width: 300px;

body {
  margin: 0;
}

.range-slider-preview {
  display: flex;
  flex-wrap: wrap;
  min-width: max($rs-container_width, $rs-controller_width);
  max-width: $rs-container_width + $rs-controller_width;
  padding: 3em;
  margin: auto;
}

.range-slider-container {
  min-width: $rs-container_content-width;
  max-width: $rs-container_content-width;
  width: $rs-container_content-width;
  height: $rs-container_content-width;
  border: $rs-container_border-width solid purple;
}

.range-slider-controller {
  box-sizing: border-box;
  min-width: $rs-controller_width;
  max-width: $rs-controller_width;
  position: relative;
  flex-grow: 1;
}

.range-slider-controller__input-container {
  padding: {
    top: 1em;
    left: 1.5em;
  };
}

.input-container__label {
  width: 100%;
}

.input-container__input {
  float: right;
}

@each $color in (
        lightgoldenrodyellow
        whitesmoke
        lightyellow
        lightpink
) {
  .range-slider-preview_#{$color} {
    background: $color;
  }
}
