@import '../variables';

.hint__content {
  font-family: "Arial Black", sans-serif;
  color: white;
  text-align: center;
  min-width: 1em;
  line-height: normal;
  padding: {
    bottom: .3em;
    top: .2em;
    left: .7em;
    right: .7em;
  }
  border-radius: .4em;
  z-index: 1;
  background: deepskyblue;
}

.hint__content:after {
  position: absolute;
  content: '';
  left: 50%;
  top: 100%;
  border: $hint_indent * 0.5 solid transparent;
  border-top-color: deepskyblue;
  height: 0;
  width: 0;
  transform: translate(-50%, -$hint_indent);
}

@import '_left/hint__content_left';
@import '_color/hint__content_color';
